<section
  data-sly-use.commonsTemplates="core/wcm/components/commons/v1/templates.html"
  id="iconlist"
  data-sly-use.model="com.accenture.core.models.IconListModel"
  class="iconlist"
>
  <div class="iconlist__icon-container">
    <span class="fa-stack fa-4x iconlist__icon">
      <i class="fal fa-square-full fa-stack-2x"></i>
      <i class="fas fa-stack-1x ${model.icon1 || 'fa-code'}"></i>
    </span>
  </div>

  <div class="iconlist__icon-container">
    <span class="fa-stack fa-4x iconlist__icon">
      <i class="fal fa-square-full fa-stack-2x"></i>
      <i class="fas fa-stack-1x ${model.icon2 || 'fa-bolt'}"></i>
    </span>
  </div>

  <div class="iconlist__icon-container">
    <span class="fa-stack fa-4x iconlist__icon">
      <i class="fal fa-square-full fa-stack-2x"></i>
      <i class="fas fa-stack-1x ${model.icon3 || 'fa-camera-retro'}"></i>
    </span>
  </div>

  <div class="iconlist__icon-container">
    <span class="fa-stack fa-4x iconlist__icon">
      <i class="fal fa-square-full fa-stack-2x"></i>
      <i class="fas fa-stack-1x ${model.icon4 || 'fa-cog'}"></i>
    </span>
  </div>

  <div class="iconlist__icon-container">
    <span class="fa-stack fa-4x iconlist__icon">
      <i class="fal fa-square-full fa-stack-2x"></i>
      <i class="fas fa-stack-1x ${model.icon5 || 'fa-desktop'}"></i>
    </span>
  </div>

  <div class="iconlist__icon-container">
    <span class="fa-stack fa-4x iconlist__icon">
      <i class="fal fa-square-full fa-stack-2x"></i>
      <i class="fas fa-stack-1x ${model.icon6 || 'fa-calendar'}"></i>
    </span>
  </div>
</section>
